<div>
    <h1>CoderChat</h1>
    <input type="text" id="inputData" />
    <p id="outputData"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>